@charset "utf-8";

* {
  box-sizing: border-box;
}

.input-area {
  width: 100%;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  height: 36px;
  padding: 5px;
  margin-top: 10px;
}

.input-area:focus {
  background: #fff;
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgb(1 191 189 / 10%);
  outline: none;
}

li {
  list-style: none;
}

.letter {
  color: #949697;
  font-size: 12px;
}

dt {
  font-size: 12px;
  color: #545658;
}

.content {
  background-color: #f2f6f7;
  padding: 30px 0;
  width: 100%;
}

.mark {
  margin-left: 3px;
  font-size: 8px;
  color: #f00;
}

.inner {
  margin: 0 auto;
  width: 640px;
}

.content__main {
  margin-bottom: 32px;
  padding: 48px 64px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 18%);
}

h1 {
  font-size: 24px;
  color: #666;
  text-align: center;
}

.sns {
  margin-top: 25px;
}

.flex {
  display: flex;
}

.sns__flex {
  width: 50%;
}

.sns__flex__text {
  font-size: 13px;
  text-align: center;
  display: block;
  padding: 13px;
  border: 1px solid;
  border-radius: 3px;
}

.facebook {
  color: #fff;
  background-color: #3b5999;
  border-color: #3b5999;
}

.facebook:hover {
  background-color: #344e87;
}

.sns__flex:last-child {
  margin-left: 8px;
}

.google {
  color: #dd4b39;
  background: #fff;
  border-color: #d9d9d9;
}

.google:hover {
  background-color: #fbfbfb;
}

.timeline {
  margin-top: 8px;
  text-align: center;
}

.account {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.account:before,.account:after {
  border-top: 1px solid #949697;
  content: "";
  flex-grow: 1;
}

.name {
  display:flex;
}

.name__box {
  width: 50%;
}

.name__box:last-child {
  margin-left: 16px;
}

.gender {
  margin-top: 20px;
}

.gender dd {
  margin-top: 5px;
}

.gender li {
  display: inline-block;
  margin-left: 10px;
}

.gender li:first-child {
  margin-left: 0;
}

input[type="radio"]{
  display: none;
}

input[type="radio"] + .gender__label {
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}

input[type="radio"] + .gender__label:before {
  width: 15px;
  height: 15px;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

input[type="radio"] + .gender__label:after {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  background: #01bfbd;
  transform: translate(0,-50%);
  opacity: 0;
}

input[type="radio"]:checked + .gender__label:after {
  opacity: 1;
}

.top {
  margin-top: 20px;
}

.from {
  width: 50%;
  position: relative;
}

.from select {
  margin-top: 5px;
  appearance: none;
}

.from dd:after {
  position: absolute;
  content: "";
  right: 10px;
  top: 60%;
  height: 5px;
  width: 5px;
  transform: rotate(45deg);
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}

.hope__app {
  margin-top: 10px;
  color: #545658;
  font-size: 16px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + .hope__label {
  padding-left: 25px;
  position: relative;
}

input[type="checkbox"] + .hope__label:before,
input[type="checkbox"] + .hope__label:after,
input[type="radio"] + .gender__label:before,
input[type="radio"] + .gender__label:after {
  content: '';
  display: block;
  position: absolute;
}

input[type="checkbox"] + .hope__label:before{
  width: 15px;
  height: 15px;
  border: 1px solid #d9d9d9;
  top: 50%;
  transform: translateY(-50%);
}

input[type="checkbox"]:checked + .hope__label:after {
  width: 10px;
  height: 20px;
  border-right: 3px solid #01bfbd;
  border-bottom: 3px solid #01bfbd;
  transform: rotate(45deg) translate(-5px,-70%);
  top: 50%;
}

.remarks textarea {
  outline-color: #dff;
  margin-top: 5px;
  width: 100%;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  padding: 5px;
}

.create a :hover {
  cursor: pointer;
}

.create__button {
  transition: 0.3s;
  background-color: #01bfbd;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 13px;
  border-radius: 3px;
  border: 1px solid #01bfbd;
}

.create__button:active {
  background-color: #fff;
  color: #01bfbd;
  border: 1px solid #d9d9d9;
}

.agree {
  font-size: 12px;
  line-height: 16px;
}

.content__footer {
  margin-top: 20px;
}

.content__footer p {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
}

.button__color {
  color: #01a6a4;
}

.button__color:hover {
  color: #01bfbd;
}

.underline:hover {
  border-bottom: 1px solid #ececec;
  border-bottom-color: #01bfbd;
}